<div class="container-fluid a1">
   <div class="row a2">
        <div class="col-12 col-lg-12 bloco-artemis">
            <h1 class="text-center text-artemis">Artemis Lunar Exploration Program</h1>
        </div>
        <div class="col-12 col-lg-10 bloco-artemis mt-3">
            <p class="text-artemis p-artemis">
                Artemis is the goddess of the moon in Greek mythology, and sister of Apollo, and now she personifies NASA’s path to the Moon, that mission will take the first woman to the moon.<br>

                That‘s a chance to chase further, to be a part of something bigger,by exploring a new side of the moon (lunar south pole), creating major oportunities, new discoveries and resource, and even… a new home.<br><br>
                
                Beyond the project, NASA is addopting a culture of equality, that‘s something we can see into the First American Woman to Walk in Space, that happens this friday- 18.10.2019.<br>
                                
                So not just boys or girls but everybody can still dream about being an astronaut nowadys.<br>
                                
                With this posture NASA’s showing not just the world but all the universe, that principles, equality, inovation and sustantability, can fly together.          
            </p>
        </div>
   </div>
</div>