<div class="jumbotron welcome-jumbotron">
    <!--
        <div class="title-caixa">
            <h1>The Art Side of the Moon</h1>
        </div>
        -->
    <section class="header-paralax">
        <h1 class="text-center">Bem Vindo</h1>
        <p class="lead text-centerF">
            Exemplo de mensagem de chamada para o site
        </p>
    </section>
    <section class="content-1-paralax">
        <div>
            <div class="row">
                <div class="col-6">

                    <!-- a) select element and set attributes -->

                    <div class="my-paroller-rocket" data-paroller-factor="0.4" data-paroller-factor-xs="0.2"
                        data-paroller-factor-sm="0.3" data-paroller-type="foreground"
                        data-paroller-direction="vertical">
                        <!-- b) select element -->
                        <div class="my-rocket">
                            <!--WorkSpace Paralax-->
                            <img src="../../assets/img/space-rocket-retro-spaceship-vector-illustration.jpg"
                                width="110px" height="110px">
                        </div>

                    </div>

                </div>
                <div class="col-6">
                    <img src="../../assets/img/288109_stock-photo-cartoon-globe.jpg" width="150px" height="150px">
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p class="text-center; text-justify">
            Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de
            corpo paralax 1 Exemplo de corpo paralax 1
            Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de
            corpo paralax 1 Exemplo de corpo paralax 1
            Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de corpo paralax 1 Exemplo de
            corpo paralax 1 Exemplo de corpo paralax 1.
        </p>
    </div>
    <section class="header-paralax">
        <h1 class="text-center">Bem Vindo</h1>
        <p class="lead text-centerF">
            Exemplo de mensagem de chamada para o site
        </p>
    </section>
    <section class="content-1-paralax">
        <div>
            <div class="row">
                <div class="col-6">
                    <img src="../../assets/img/depositphotos_78961874-stock-illustration-cartoon-illustration-of-a-moon.jpg" width="150px" height="150px">
                </div>
                <div class="col-6">
                    <!-- a) select element and set attributes -->

                    <div class="my-paroller-rocket" data-paroller-factor="0.4" data-paroller-factor-xs="0.2"
                        data-paroller-factor-sm="0.3" data-paroller-type="foreground"
                        data-paroller-direction="vertical">
                        <!-- b) select element -->
                        <div class="my-rocket">
                            <!--WorkSpace Paralax-->
                            <img src="../../assets/img/space-rocket-retro-spaceship-vector-illustration.jpg"
                                width="110px" height="110px">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <div>
        <img src="../../assets/img/curitiba-pr-logo-0AE7556C76-seeklogo.com.png" width="54px" height="54px">

        <img src="../../assets/img/6207e4c0-1c6a-4667-8bf5-6945b826045c.jfif" width="54px" height="54px">

        <img src="../../assets/img/logoSpaceApps.png" width="54px" height="54px">
    </div>


</div>