<!-- CABEÇALHO -->
<div class="cabecalho container col-sm">
    <div>
        <span class="titleMenu"> &nbsp;&nbsp;<button class="btn-menu bg-gradient"><i
                    class="fa fa-2x fa-bars fa-lg"></i></button>
        </span>
    </div>

    <nav class="menu">
        <a class="btn-close"><i class="fa fa-times"></i></a>
        <ul class="closed">
            <li routerLinkActive="active"><a [routerLink]="['/']">Our History</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/artemis']">Artemis 3 Mission</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/vr']">VR Experience</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
        </ul>
    </nav>
</div>